services:
  app:
    build: ./backend
    container_name: app
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - app_network

volumes:
  sql_data:

networks:
  app_network:
    driver: bridge
